/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
	  /*background-color: #9b8a76;*/
     /*background:#fff;*/
	 background-color: #FEFFF9;
	 font-family: 'PT Sans', sans-serif;
	 font-size:16px;
     
      /*color: #5a5a5a;*/
    }
	
	
	#header{
		min-height:282px;
		background-color: #FEFFF9;		
		/*margin-bottom:30px;*/
		
	}
	

	h2,h3 {
	font-family: 'Kreon', serif;
	color: #ba5581;
	}
	
	h2 {
	margin-bottom: 15px;
	letter-spacing: 1px;
	font-style: italic;
	}
	
	h4{
	text-align: center;
	}

	/* Customize - Bloc contact */
	.info {
	border: 2px #ba5581 solid;
	border-radius: 10px;
	padding: 15px;
	text-align: center;
	margin-top: 20px;
	}
	
	/*Customize - Ligne sous titre */
	.sexy_line {
	margin: 25px 0;
	height: 1px;
	border: 0;
	background: black;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#F2F2F2), to(#F2F2F2), color-stop(50%, #D7D7D7));
	}
	
    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
	
		
	
    .navbar {
		font-size:20px;
		position:fixed;
		top:0;
		right:0;
		left:0;
		z-index:1000;
	 
     /* margin-bottom: -90px; *//* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar .btn-group{
		margin-top: 10px;
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
      -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
      box-shadow: 0 2px 10px rgba(0,0,0,.25);
			  
	
    }


    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
	  color:#ba5581;
	  
    }
	
	.navbar .nav  {
     float:right;
	  
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    /* Couleur du menu déroulant Dropdown */
    .dropdown-menu li > a:hover,
	.dropdown-menu li > a:focus,
	.dropdown-submenu:hover > a {
 		 color: #ffffff;
		  text-decoration: none;
		  background-color: #ba5581;		  
		
	}
	
	
	/* CUSTOMIZE THE BANNIERE */
	
	.banniere {
	  position: relative;
            
      
	  height: 350px;      
	  margin: 0 auto;
	  background: url('../img/banniere2.png') no-repeat;
	  border: 0;
	  
      
	}
	
	.container{
	   width:974px;
	   z-index:2;
	   
	   
	   
	}
	.hero-unit{
	    background:#fff;
		border: none;
		/*-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
        -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
        box-shadow: 0 2px 10px rgba(0,0,0,.25);*/
		
	
	}
	
	.presentation {
	font-size:15px;
	text-align: justify;
	}
	
	/* CUSTOMIZE THE FORMULAIRE*/
	
	.form-horizontal{
	  
	  /*width:400px;*/
	  /*background-color:#f3ebf3;*/
	  padding-top:30px;
	  
	}
	  
	  .form-actions{
		background-color:#fff;
		border:0;
	  }
	  
	  
	  
	  
	  
	  
	  
	
	/*CUSTOMIZE THE FOOTER */
	
	#footer {
		background-image: url(../img/footer4.png);
  		background-repeat: repeat-x;
		position: absolute;
		width: 100%;
		left: 0;
		
		min-height: 288px;
		margin-top: 72px;
		z-index: -1;
		color:#fff;
		
	}
	
	.muted_credit {
		margin-top:10px;
		margin-bottom:40px;
	}
	
	
	
	
	/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	



/****  FOOTER  ****/


#footer_content {
  background-image: url(../images/footer_upper_background.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: -8px;
  width: 975px;
}

.links_footer {
 display: inline-block;
 vertical-align: top; 
 border-right: 1px solid #d9708f;
 height: 122px;
 line-height: 22px;
 padding-top: 10px !important;
}

#footer_partner {
	padding-top: 27px;
}

#footer_partner > div > div {
  display: inline-block;
  vertical-align: top;
  font-family: 'Trocchi', sans-serif;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 48px;
  margin-right: 4px;
}



#footer_partner #paiement {
	margin-right: 14px;  
}

#footer_partner #paiementinfo {
  margin-left: 14px;
}

.links_footer a{
  font-family: 'century-gothic', sans-serif;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

#links_footer1 a{
  font-family: 'century-gothic-bold';
}

#links_footer3 li:last-child  a{
  font-family: 'century-gothic-bold', sans-serif;
}

#links_footer1 {
 padding-right: 22px; 
}

#links_footer2 {
 padding: 0px 33px; 
}

#links_footer3 {
 padding: 0px 174px 0px 32px; 
}

ul{
  list-style: none; 
}

#links_footer_wrapper {
 width: 950px;
 margin-top: 20px;
}

#footer_partner span{
	font-family: 'century-gothic-bold';
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 98px;
}

#footer_right{
  float: right;
  margin-top: -135px;
}

#toggle-all {
		display: block;
		width: 17px;
		height:17px;
		cursor: pointer;
		background: url(../img/checkbox.gif) 0 -17px;
}
	
#toggle-all.toggle-checked {
		display: block;
		width: 17px;
		height:17px;
		background: url(../img/checkbox.gif) 0 0;
}

/* STYLED CHECKBOXES AND RADIOS -------------------------------------------- */	

/* Pagination */
.pagination{
	text-align: right;               
}



/************ Shortcut Buttons ************/

.shortcut-button {
    border: 1px solid #ccc;
    background: #f7f7f7 url('../img/shortcut-button-bg.gif') top left no-repeat;
    display: block;
    width: 120px;
    margin: 0 0 20px 0;
}

.shortcut-button span {
  border: 1px solid #fff;
  display:block;
  padding: 15px 10px 15px 10px;
  text-align: center;
  color: #555;
  font-size: 16px;
  line-height: 1.3em;
}

.shortcut-button span img {
  margin-bottom: 10px;
}

.shortcut-button:hover {
  background: #fff;
}
				
.shortcut-button span:hover {
	color: #57a000;
	
}


ul.shortcut-buttons-set li {
  float: left;
  margin: 0 15px 0 0;
	padding: 0 !important;
	background: 0;
}

ul.shortcut-buttons-set li a:hover {
  text-decoration:none;
}

/************ Table ************/

table {
    width: 100%;
    margin-top:20px;
    border-collapse: collapse;
}
                
table thead th {
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;    
    background-color: #ddd;
    text-align: left;
}
                
tbody {
  border-bottom: 1px solid #ddd;
}
                
tbody tr {
  background: #fff;

}
              
tbody tr:nth-child(2n) {
    background: #f3f3f3;
}

tbody th.ch,
tbody td.ch { 
   padding: 10px;
   line-height: 1.3em;   
   width: 5%;
} 
                
tbody td,
tbody th {
    text-align: left;
    padding: 10px;
    line-height: 1.3em;
    width: 33%;
}   

      
        
table tfoot td .actions {	
    padding: 15px 0 5px 0;
} 
        
table tfoot td .actions select {
    padding: 4px;
    border: 1px solid #ccc;
}    

.actions{
	float: left;
}  


/* zoom sur les images des produits */


figure 
{
  width: 120px;
  float: left;
  margin: 0 20px 0 0;
  background: white;
  border: 10px solid white;
  -webkit-box-shadow: 0 3px 10px #ccc;
  -moz-box-shadow: 0 3px 10px #ccc;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 1s ease;
  position: relative;
}

figcaption 
{
  text-align: center;
  display: block;
  font-size: 12px;
  font-style: italic;
}


figure:hover
{
  -webkit-transform: rotate(-1deg); -moz-transform: rotate(1deg);
  -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
}

figure:focus
{
  outline: none;
  -webkit-transform: rotate(-3deg) scale(2.5); -moz-transform: rotate(-3deg) scale(2.5);
   -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
  z-index: 9999;
}

	
	
	
	



